@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}
.navbar {
  display: flex;
  padding: 25px;
  background-color: antiquewhite;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
